.ProcessGraphBox {
  height: 600px;
  width: 95%;
  margin: auto;
  border-radius: 50px;
  background-color: #e3e3e3;
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
}

.Inside_ProcessGraphBox {
  height: 580px;
  width: 98%;
  margin: auto;
  border-radius: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

/* Cards attributes */
.Stat-content {
  display: flex;
  text-align: right;
}

.Stat-content .card {
  flex: 0 0 40%;
  margin-right: auto;
  margin-left: auto;
  background: #f8f9fa;
  margin-top: 2.5rem;
}

.Stat-content .card-header {
  padding: 0.75rem;
  margin-bottom: 0;
  background-color: #f8f9fa;
  color: #353c3f;
  font-weight: 600;
}

.Statistics .mt-5,
.my-5 {
  margin-top: unset !important;
}

.chartjs-size-monitor {
  position: unset;
}

.chartjs-size-monitor-expand {
  position: unset;
}

.chartjs-size-monitor-shrink {
  position: unset;
}

.HandState {
  padding: auto;
}

.GraphSize {
  margin: auto;
  width: 340px;
}

.ButtonClick {
  margin-top: 2rem;
  display: block;
  text-align: center;
  font-size: 20px;
  color: black;
}
