.secNAV {
  height: 80px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  background-color: #e3e3e3;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.underNAV {
  height: 510px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  background-color: #e3e3e3;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.Att {
  display: flex;
  width: 100%;
  margin: auto;
}

.Att a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin-right: auto;
  margin-left: auto;
  white-space: nowrap;
}

.Att a.active {
  color: #14629d;
}

.Att a:hover {
  color: #14629d;
}

.Inside-box {
  height: 480px;
  width: 98%;
  margin: auto;
  border-radius: 50px;
  background-color: white;
}

.Headline {
  height: 50px;
  width: 100%;
}

.HealthPolicy-content {
  display: block;
  padding: 3rem 8rem 3rem 8rem;
}

.HealthPolicy {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 30px;
}

.svg-inline--fa {
  margin-left: 10px;
}

.Form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.form-control {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  width: 45%;
  padding: 1.25rem;
}

.btn {
  margin-right: 11px;
}

.Create {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
}

.Train-content {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
}

.Train-content .card {
  height: 25vh;
  margin-right: auto;
  margin-left: auto;
}

.card-text {
  text-align: center;
}

.card-footer {
  padding: 0.75rem 1.25rem;

  background-color: unset;
  border-top: unset;
  text-align: center;
}

#footer-card {
  margin-top: 22px;
}

.card-header {
  text-align: center;
  font-size: 20px;
  background: #fafafa;
  padding: 0.4rem;
}

.card-body {
  padding: 0.4rem;
}

.userMSG {
  text-align: center;
  font-size: 20px;
  margin-top: 0.3rem;
}

.DaysTrain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 0.3rem;
  direction: ltr;
}

.mr-2.btn-group {
  margin-right: 0px;
  margin-bottom: 0.8rem;
}

.mr-2,
.mx-2 {
  margin-right: 0rem !important;
}

.sendBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-left: 10px;
}

.btnsnd {
  margin-right: 0px;
}

.btn.btn-secondary {
  border-radius: 0px;
  width: 45px;
  font-size: 20px;
  font-family: sans-serif;
}

.Train-content input[type='radio'] {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.Train-content .card.border-secondary {
  height: 200px;
}

/* UserSettings */

.Setting-form {
  padding: 1.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.Setting-form .form-control {
  margin-top: 1rem;
  width: 70%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

#buttonEmail {
  margin-top: 2rem;
}

.Setting-form .btn {
  margin-top: 1rem;
}

.Setting-form .card {
  margin-right: 60px;
  margin-left: 60px;
}

.Setting-form .card.border-secondary {
  height: 300px;
}

.Setting-form .card-text {
  font-size: 20px;
}

.mailbtn {
  margin-top: 4.3rem;
}

.SettingsInfo {
  font-size: 18px;
  text-align: center;
}

.SettingsHeadline {
  margin: 0.5rem;
  font-size: 23px;
  text-align: center;
}

.Settingsline {
  text-align: center;
}

.SubscriptionMenu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.card.border-secondary {
  height: 350px;
}

/* Subscription */

.Radio-Text {
  display: inline-block;
  color: #353c3f;
  margin-right: 15px;
}

.Subscription .card-text {
  border-bottom: 1px solid #6c757d;
}

.Sum {
  text-align: center;
}

.card.border-secondary {
  height: auto;
  border-color: #6c757d !important;
}

.Processing .card {
  border: unset;
}

.Processing-form {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}

.Processing-form .form-control {
  display: flex;
  margin: 1rem auto 1rem auto;
  padding: 2rem;
}

.Processing-form .btn {
  display: flex;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  justify-content: center;
}

.Processing-form .card.border-secondary {
  height: 300px;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: #3d92d3;
  background-color: #3d92d3;
}

.custom-control {
  padding-left: 1.8rem;
}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.EmailForm .row {
  width: unset;
  padding: unset;
  justify-content: center;
}

.EmailForm .mailbtn {
  margin-top: 2.325rem;
}

/* ForgotPassword page*/
.ForgotPassword .row {
  width: unset;
  padding: unset;
  justify-content: center;
}

.ForgotPasswordForm .alert {
  font-size: 16px;
}

.resetEmailForm .alert {
  font-size: 16px;
}

@media only screen and (max-width: 700px) {
  .secNAV {
    width: 100%;
    margin-top: unset;
  }

  .MobileStore.carousel-control-next,
  .carousel-control-prev {
    position: unset;
  }

  .MobileHealth .Inside-box {
    height: unset;
  }

  .MobileHealth .HealthPolicy-content {
    padding: .5rem;
  }

  .MobileHealth .Form-content {
    padding: 1rem;
    display: block;
  }

  .MobileHealth .underNAV {
    height: unset;
  }

  .MobileHealth .row {
    width: unset;
  }

  .training .btn {
    margin-bottom: 15px;
  }

  .MobileHealth .btn {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .MobileHealth .HealthPolicy {
    font-size: 16px;
  }

  .notificationsMobile .NotificationsBox1 {
    width: unset;
    margin-right: unset;
    min-height: 300px;
    height: unset;
    margin-top: unset;
  }

  .notificationsMobile .NotificationsBox2 {
    width: unset;
    margin-top: unset;
    margin-left: unset;
    margin-right: unset;
    height: auto;
  }

  .notificationsMobile .li-att {
    font-size: 30px;
  }

  .notificationsMobile .OpenHours {
    margin-top: unset;
  }

  .notificationsMobile .toast {
    width: 80%;
    min-width: unset;
  }

  .training .Inside-box {
    height: auto;
  }

  .training .underNAV {
    margin-top: unset;
    height: auto;
  }

  .training .Train-content .card.border-secondary {
    margin-bottom: 10px;
  }

  .training .btn.btn-secondary {
    width: unset;
  }

  .svg-inline--fa {
    margin-left: 5px;
    margin-right: 5px;
  }

  .Processing-form {
    padding: 0 1rem 0 1rem;
  }

  .Att {
    flex-wrap: wrap;
    justify-content: center;
  }

  .Att a {
    justify-content: center;
    flex: 0 0 20%;
    font-size: 15px;
    margin-right: unset;
    margin-left: unset;
    padding: 0.5rem;
  }

  .card {
    margin-top: unset;
    border: unset;
  }

  .Inside-box {
    height: 300px;
  }

  .Processing-form .btn {
    width: unset;
  }

  .Processing-form .form-control {
    padding: 1rem;
  }

  .form-control::placeholder {
    font-size: 11px;
  }

  .MobileProcessing .underNAV {
    height: 300px;
  }

  .Inside {
    width: 205px;
    height: 205px;
  }

  .spinner-grow {
    height: 15rem;
    width: 15rem;
  }

  .Inside1 {
    height: 210px;
    width: 210px;
  }

  .Inside2 {
    width: 215px;
    height: 215px;
  }

  .Time-content {
    display: block;
    padding: 0.5rem 1rem 1rem 1rem;
  }

  .countExmple {
    font-size: 100px;
  }

  .Time {
    height: 130px;
    width: 130px;
    font-size: 40px;
  }

  .Time1 {
    height: 135px;
    width: 135px;
  }

  .Time2 {
    height: 140px;
    width: 140px;
  }

  .Date {
    height: 130px;
    width: 130px;
    font-size: 30px;
  }

  .Date1 {
    height: 135px;
    width: 135px;
  }

  .Date2 {
    height: 140px;
    width: 140px;
  }

  .font-weight-light {
    font-size: 24px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }

  .LiveCenter {
    margin-top: unset;
  }

  .badge {
    font-size: 45%;
  }
}