.img-main {
  width: 100%;
  height: 100%;
}

.Center {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 95%;
}

.Bigtxt {
  font-size: 45px;
  color: black;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.Brush {
  margin-right: auto;
  margin-left: auto;
  width: 400px;
  height: 55px;
  position: absolute;
  z-index: -1;
  margin-top: 5px;
}

.pBrush {
  margin-right: auto;
  margin-left: auto;
  width: 500px;
  height: 55px;
  position: absolute;
  z-index: -1;
  margin-top: 5px;
}

.Bflex {
  display: flex;
  width: 33%;
  margin-right: auto;
  margin-left: auto;
}

.flex-container {
  display: flex;
}

.marg5 {
  margin: 0px;
}
