.Openingpage {
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
}

.Pages-attributes {
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
}

h2 {
  padding: 1.25rem;
}

.welcome-text {
  font-size: 25px;
  padding: 1.25rem;
}

.Openingpage .Carousel-content {
  padding-top: 1rem;
}

.Openingpage .w-100 {
  width: 100% !important;
  height: unset;
  padding: 1.25rem;
}

.Openingpage .carousel-inner {
  width: unset;
}

.MainPage-text button {
  width: 115px;
  color: #fff;
  font-size: 20px;
  background-color: #353c3f;
  background-clip: padding-box;
  border: 2px solid #f8f9fa;
  border-radius: 0.8rem;
  display: block;
  outline: none;
  text-decoration: none;
  -webkit-transition: border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.3rem;
}

button:not(:disabled) {
  cursor: pointer;
  text-decoration: none;
}

.Register-Form input[type="checkbox"] {
  margin-right: 3px;
}

.Openingpage .Button-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainPage-text {
  font-size: 24px;
  padding: 1rem;
}

.badge-headline {
  display: inline-block;
  margin-top: 30px;
  padding: 0.25em 0.4em;
  font-size: 50px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-headline .badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 1rem;
}

/* Alert attributes */
.Alert {
  padding-top: 1rem;
  text-align: center;
}

.alert {
  position: unset;
  font-size: 16px;
}
