.NotificationsBox1 {
  height: 550px;
  width: 50%;
  margin: auto;
  border-radius: 80px;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-right: 50px;
}

.Notifications {
  display: flex;
}

.NotificationsBox2 {
  height: 550px;
  width: 50%;
  margin: auto;
  border-radius: 80px;
  background-color: white;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  align-items: center;
  justify-content: center;
}

.Main-Padding {
  padding-bottom: 1rem;
}

.toast {
  direction: ltr;
  text-align: center;
  min-width: 500px;
}

.mr-auto {
  margin-left: 63px; /* צריך לשים את שם כותב ההודעה באמצע */
}

.toat-header {
}

.fade.toast.show {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.font-weight-light {
  text-align: center;
  font-size: 30px;
}

/* Hours */
.Notifications li {
  font-size: 30px;
  list-style: none;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Days */
.li-att {
  font-size: 40px;
  list-style: none;
  text-align: center;
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.Line {
  border-bottom: 1px solid;
  color: black;
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}

.OpenHours {
  align-items: center;
  margin-top: 3rem;
}

.NotificationsCenter {
  height: 600px;
  width: 95%;
  margin: auto;
  border-radius: 50px;
  background-color: #e3e3e3;
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
}
