.NotificationsBox {
  height: 600px;
  width: 95%;
  margin: auto;
  border-radius: 15px;
  background-color: #e3e3e3;
  margin-top: 25px;
  margin-bottom: 20px;
}

.toast {
  direction: ltr;
  text-align: center;
  min-width: 500px;
}

.mr-auto {
  text-align: center;
  display: flex;
}

.toat-header {
  text-align: center;
}
