.secNAV {
  height: 80px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  background-color: #e3e3e3;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.underNAV {
  height: 510px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  background-color: #e3e3e3;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.Att {
  display: flex;
  width: 100%;
  margin: auto;
}

.Att a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin-right: auto;
  margin-left: auto;
  white-space: nowrap;
}

.Att a.active {
  color: lightseagreen;
}

.Att a:hover {
  color: lightseagreen;
}

.Inside {
  height: 480px;
  width: 98%;
  margin: auto;
  border-radius: 50px;
  background-color: white;
}

.Headline {
  margin-right: auto;
  margin-left: auto;
  display: flex;
}

.HealthPolicy {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  font-size: 20px;
}

/* FontAwesome */

.muscleIcon {
  position: absolute;
  margin-right: 2.5%;
  top: 122px;
}

.HandsHelping {
  position: absolute;
  margin-right: 13.6%;
  top: 121px;
}

.CalendarCheck {
  position: absolute;
  margin-right: 27.2%;
  top: 121px;
}

.ListUL {
  position: absolute;
  margin-right: 40.3%;
  top: 122px;
}

.Heartbeat {
  position: absolute;
  margin-right: 55.9%;
  top: 122px;
}

.Settings {
  position: absolute;
  margin-right: 71.2%;
  top: 122px;
}
