.secNAV {
  height: 80px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 15px;
  background-color: #e3e3e3;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.underNAV {
  height: 510px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  background-color: #e3e3e3;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.Att {
  display: flex;
  width: 100%;
  margin: auto;
}

.Att a {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  margin-right: auto;
  margin-left: auto;
  white-space: nowrap;
}

.Att a.active {
  color: lightseagreen;
}

.Att a:hover {
  color: lightseagreen;
}

.Inside-box {
  height: 480px;
  width: 98%;
  margin: auto;
  border-radius: 50px;
  background-color: white;
}

.Headline {
  height: 50px;
  width: 100%;
}

.HealthPolicy-content {
  display: block;
  padding: 3rem 8rem 3rem 8rem;
}

.HealthPolicy {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 30px;
}

.font-weight-light {
  text-align: center;
  font-size: 30px;
  padding-bottom: 25px;
}

/* FontAwesome */

.muscleIcon {
  position: absolute;
  margin-right: 2.5%;
  top: 122px;
}

.HandsHelping {
  position: absolute;
  margin-right: 13.6%;
  top: 121px;
}

.CalendarCheck {
  position: absolute;
  margin-right: 27.2%;
  top: 121px;
}

.ListUL {
  position: absolute;
  margin-right: 40.3%;
  top: 122px;
}

.Heartbeat {
  position: absolute;
  margin-right: 55.8%;
  top: 122px;
}

.Settings {
  position: absolute;
  margin-right: 71.2%;
  top: 122px;
}

.Form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.form-control {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  width: 45%;
  padding: 1.25rem;
}

.btn {
  margin-right: 11px;
}

.Create {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
}

.Train-content {
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
}

.Train-content .card {
  height: 25vh;
  margin-right: auto;
  margin-left: auto;
}

.card-text {
  text-align: center;
}
.card-footer {
  padding: 0.75rem 1.25rem;

  background-color: unset;
  border-top: unset;
  text-align: center;
}
#footer-card {
  margin-top: 22px;
}
.card-header {
  text-align: center;
  font-size: 20px;
}

.card-body {
  padding: 0.4rem;
}

.userMSG {
  text-align: center;
  font-size: 20px;
  margin-top: 0.5rem;
}

.DaysTrain {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 0.3rem;
  direction: ltr;
}

.mr-2.btn-group {
  margin-right: 0px;
  margin-bottom: 0.8rem;
}

.mr-2,
.mx-2 {
  margin-right: 0rem !important;
}

.sendBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-left: 10px;
}

.btnsnd {
  margin-right: 0px;
}

.btn.btn-secondary {
  border-radius: 0px;
  width: 45px;
  font-size: 20px;
  font-family: sans-serif;
}

.Train-content input[type="radio"] {
  margin-right: auto;
  margin-left: auto;
  display: block;
}
