.boxStore {
  height: 600px;
  width: 95%;
  margin: auto;
  border-radius: 50px;
  background-color: #e3e3e3;
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
}

.Inside_BoxStore {
  height: 580px;
  width: 98%;
  margin: auto;
  border-radius: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.Store .w-100 {
  width: 60% !important;
  height: 400px;
  padding: 1.25rem;
  margin-right: auto;
  margin-left: auto;
}

.d-block {
  display: flex !important;
}

.carousel-inner {
  position: relative;
  width: 700px;
  overflow: hidden;
}

.carousel-caption {
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  top: -15px;
}

.carousel-indicators li {
  background-color: black;
}

.carousel-indicators {
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.Flex-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.Shop-Center {
  position: relative;
  text-align: center;
  display: block !important;
  font-size: 30px;
}

@media only screen and (max-width: 700px) {
  .boxStore {
    margin-top: unset;
  }
}