.LiveCenter {
  height: 600px;
  width: 95%;
  margin: auto;
  border-radius: 50px;
  background-color: #e3e3e3;
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
}

.Inside {
  height: 350px;
  width: 350px;
  margin: auto;
  border-radius: 500px;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
}

.countExmple {
  margin-right: auto;
  margin-left: auto;
  font-size: 200px;
  font-family: Impact;
  color: white;
}

.Inside_LiveStore {
  height: 580px;
  width: 98%;
  margin: auto;
  border-radius: 50px;
  background-color: white;
}

.Time-content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.Time {
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 500px;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
}

.Time1 {
  height: 255px;
  width: 255px;
  margin: auto;
  border-radius: 500px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
}

.Time2 {
  height: 259px;
  width: 259px;
  margin: auto;
  border-radius: 500px;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
}

.Date {
  height: 250px;
  width: 250px;
  margin: auto;
  border-radius: 500px;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
}

.Date1 {
  height: 255px;
  width: 255px;
  margin: auto;
  border-radius: 500px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
}

.Date2 {
  height: 259px;
  width: 259px;
  margin: auto;
  border-radius: 500px;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: white;
}

.Inside1 {
  height: 355px;
  width: 355px;
  margin: auto;
  border-radius: 500px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Inside2 {
  height: 360px;
  width: 360px;
  margin: auto;
  border-radius: 500px;
  background-color: rgb(78, 78, 78);
  display: flex;
  align-items: center;
  justify-content: center;
}

.SpinnerClass {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.spinner-grow {
  position: absolute;
  display: flex;
  color: green;
  width: 27rem;
  height: 27rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  -webkit-animation: spinner-grow 1s linear infinite;
  animation: spinner-grow 3s linear infinite; /* במקרה ומספר המתאמנים יהיה גדולה ממספר כלשהו צבע האפקט יהיה אדום, אחרת ירוק */
}
