.LiveCenter {
  height: 370px;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50px;
  background-color: #e3e3e3;
  margin-top: 50px;
}

.Inside {
  height: 250px;
  width: 550px;
  margin: auto;
  border-radius: 50px;
  background-color: white;
  display: flex;
}

.countExmple {
  margin-right: auto;
  margin-left: auto;
  font-size: 200px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
