.LiveCenter {
  height: 600px;
  width: 95%;
  margin: auto;
  border-radius: 50px;
  background-color: #e3e3e3;
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;
}

.Inside {
  height: 250px;
  width: 550px;
  margin: auto;
  border-radius: 50px;
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: center;
}

.countExmple {
  margin-right: auto;
  margin-left: auto;
  font-size: 200px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.Inside_LiveStore {
  height: 580px;
  width: 98%;
  margin: auto;
  border-radius: 50px;
  background-color: white;
  align-items: center;
  justify-content: center;
}
